/README.org~
/scripts/exe-progress~
/.emacs.d/snippets/shell-mode/Python virtual environment create~
*.sh~
~$
/.Xresources~
/.emacs.d/snippets/shell-mode/update all~
/scripts/end-lock~
/README.md~
/scripts/film~
/scripts/open-dijo~
/scripts/open-pdf~
/scripts/reason.py~
/scripts/reason~
/scripts/volume-down~
/scripts/volume-mute~
/scripts/volume-up~
/scripts/ytapi~
/scripts/zathura-link~
/.emacs.d/snippets/org-mode/jupyter python~
/.emacs.d/snippets/org-mode/.#Homework notestex english
/.emacs.d/snippets/org-mode/#Homework notestex english#
*~
